@page
@model LoginModel
@{
    ViewData["Title"] = "Privacy Policy";
}

        <form method='post'>
            <p>
                <label>Email</label><br />
                <input name='Email' />
            </p>
            <p>
                <label>Password</label><br />
                <input type='Password' name='Password' />
            </p>
            <input type='submit' value='Login' />
        </form>
